@import url("https://fonts.googleapis.com/css?family=Manjari:400,700&display=swap");

.fc-scrollgrid-sync-table {
  td {
    border: none !important;
  }
}

.fc-scrollgrid {
  border: none !important;
}

.fc-timegrid-slots {
  td {
    border: none !important;
  }
}

th {
  border: none !important;
}
